.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-width: 288px;
  margin: 0 auto;

  &__description {
    text-align: start;
    padding: 0 1.6rem;
    line-height: 2.5rem;
  }
  &__button {
    margin: 2rem 0 4rem;
    padding: 1.5rem;
    border: 1px solid var(--secondary-green-color);
    border-radius: 1.5rem;
  }
}
