<section class="contact" id="contact-section">
  <h2 class="contact__title numbered-title">
    <span class="contact__title__number numbered-title__number">04.&nbsp;</span>
    <span class="contact__title__content numbered-title__content"
      >Contact Me&nbsp;</span
    >
    <hr />
  </h2>
  <p class="contact__description">
    I'm currently looking for a job, so my inbox is always open, feel free to
    contact me if you have a proposal for a job of if you simply want to say
    hello.
  </p>
  <a href="mailto:efren282@outlook.es" class="contact__button"
    >Send me a message</a
  >
</section>
