<section class="about">
  <h2 class="about__title">
    <span class="about__title__number">01.&nbsp;&nbsp;</span>
    <span class="about__title__content">About Me&nbsp;&nbsp;</span>
    <hr />
  </h2>
  <div class="about__left-container">
    <p class="about__left-container__description">
      Hello 😁, my name is Efrén and I am a programmer since 2018. I really
      enjoy solving problems and learning new things. I'm currently studying the
      college at the Universidad de Guadalajara and while I'm finishing my
      studies I started taking courses to develop my skills in Frontend. Since
      kid, I was always interested in computers and was always curious about how
      things worked, and up to day I'm still with that curiosity that motivates
      me to learn about new technologies and to implement them in the projects
      that I've made in my whole career.
      <br />
      <br />

      Currently I'm working on differents projects, one of them is an
      <a
        href="https://github.com/efrenruizrubio/intelligent-system"
        target="_blank"
        >Expert System</a
      >

      that allows the users to input data of diseases, such as signs and
      symptoms, outputs a diagnosis for a patient based on the signs and
      symptoms the patient has (Work in progress).

      <br />
      <br />

      Here are a few techologies that I've been working with:
    </p>
    <ul class="about__left-container__technologies-container">
      <li class="about__left-container__technologies-container__item">HTML</li>
      <li class="about__left-container__technologies-container__item">CSS</li>
      <li class="about__left-container__technologies-container__item">
        JavaScript
      </li>
      <li class="about__left-container__technologies-container__item">React</li>
      <li class="about__left-container__technologies-container__item">
        Angular
      </li>
      <li class="about__left-container__technologies-container__item">
        Node.js
      </li>
    </ul>
  </div>
  <div class="about__right-container">
    <img
      class="about__right-container__image"
      src="https://firebasestorage.googleapis.com/v0/b/assets-5194e.appspot.com/o/me.webp?alt=media&token=f6716ed8-ee2f-487c-a6fe-3f0724c824ae"
      alt="Picture of Efrén with his Girlfriend"
    />
  </div>
</section>
